<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/general.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_PROGRESS" class="ch.qos.logback.core.FileAppender">
    <file>log/progress.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_APP" class="ch.qos.logback.core.FileAppender">
    <file>log/application-error.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_OPERATION" class="ch.qos.logback.core.FileAppender">
    <file>log/operation-error.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_OPERATION_MESSAGE" class="ch.qos.logback.core.FileAppender">
    <file>log/operation-error-message.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n%ex{short}</pattern>
    </encoder>
  </appender>

  <appender name="FILE_SYSTEM" class="ch.qos.logback.core.FileAppender">
    <file>log/system-error.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_SYSTEM_MESSAGE" class="ch.qos.logback.core.FileAppender">
    <file>log/system-error-message.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n%ex{short}</pattern>
    </encoder>
  </appender>

  <appender name="FILE_JBERET" class="ch.qos.logback.core.FileAppender">
    <file>log/jberet.log</file>
    <encoder>
      <pattern>%d %-5level %logger{10} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="application-error" level="DEBUG" additivity="false">
    <appender-ref ref="FILE_APP" />
  </logger>

  <logger name="operator" additivity="false">
    <appender-ref ref="FILE_OPERATION" />
    <appender-ref ref="FILE_OPERATION_MESSAGE" />
  </logger>

  <logger name="system-error" additivity="false">
    <appender-ref ref="FILE_SYSTEM" />
    <appender-ref ref="FILE_SYSTEM_MESSAGE" />
  </logger>

  <logger name="org.jberet" level="DEBUG">
    <appender-ref ref="FILE_JBERET" />
  </logger>

  <logger name="metrics">
    <appender-ref ref="FILE_PROGRESS" />
  </logger>
  <logger name="PROGRESS">
    <appender-ref ref="FILE_PROGRESS" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>